@import 'tailwindcss';

html {
  @apply scroll-smooth;
}

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --background-black: #2c2c2c;
  --bg-black-leather: #780101;
  --background-white: #f5f5f5;
  --buttons-headings: #c9a66b;
  --blue-btn: #0357a5;
  --green-btn: #03a52a;
  --font-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* Puedes sobreescribir otras variables aquí si quieres */
  }
}

body {
  background: var(--background-white);
  color: var(--foreground);
  font-family: var(--font-sans);
}
